{% filter remove_whitespace %}
<!doctype html>
<html lang="{{ config.locale }}">
<head>
  <meta charset="utf-8">
  {% include "header.html" with {"nojavascript": true} %}
  <link rel="stylesheet" media="screen" href="{{ config.root }}{{ settings.file_css }}">
  <title>{{ settings.title }}</title>
  <script defer src="{{ config.root }}{{ settings.file_js }}"></script>
</head>
<body class="{% if mod %}is-moderator{% else %}is-not-moderator{% endif %}" data-stylesheet="{% if config.default_stylesheet.1 != '' %}{{ config.default_stylesheet.1 }}{% else %}default{% endif %}">
  <header>
    <h1>
      <img class="banner" src="{{ config.root }}{{ settings.file_logo }}" alt="{{ settings.title }}">
    </h1>
    <div class="subtitle">{{ settings.subtitle }}</div>
    <nav class="menu-bar">
      <ul>
        <li class="active">
          <a href="{{ config.root }}{{ settings.file_index }}">Home</a>
        </li>
        <li>
          <a href="{{ config.root }}{{ settings.file_news }}">News</a>
        </li>
        <li>
          <a href="{{ config.root }}{{ settings.file_faq }}">FAQ</a>
        </li>
      </ul>
    </nav>
  </header>
  
  {% if news|length > 0 %}
    {% with {entry: news|first} %}
      <div class="ban alternate" id="news">
        <h2>Latest News: <a href="{{ config.root }}{{ settings.file_news }}#{{ entry.id }}">{{ entry.subject }}</a></h2>
      </div>
    {% endwith %}
    {# Don't show the news if there isn't any #}
  {% endif %}

  <div class="ban" id="boards">
    <h2>Boards</h2>
    <div class="columns">
      {% for category, boards in categories %}
        <div class="category">
          <h3>{{ category }}</h3>
          <ul>
            {% for board in boards %}
              <li>
                <a href="{{ board.uri }}">{{ board.title|e }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ban" id="recent-content">
    <span style="float:right;padding:2px">
      <a class="unimportant" id="toggle-nsfw" href="#">[show nsfw content]</a>
    </span>
    <h2>Recent Content</h2>
    <div class="columns">
      {# Recent Images #}
      <div>
        <ul>
          {% for post in recent_images %}
            <li{% if post.nsfw == 1 %} class="nsfw"{% endif %}>
              <a href="{{ post.link }}">
                <img src="{{ post.src }}" style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px" alt="">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      {# Latest Posts #}
      <div>
        <ul>
          {% for post in recent_posts %}
            <li{% if post.nsfw == 1 %} class="nsfw"{% endif %}>
              <strong>{{ post.board_name }}</strong>:
              <a href="{{ post.link }}">{{ post.snippet }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div> 
  </div>

  <div class="ban" id="stats">
    <h2>Stats</h2>
    <ul class="columns">
      <li><strong>Total posts:</strong> {{ stats.total_posts }}</li>
      <li><strong>Unique posters:</strong> {{ stats.unique_posters }}</li>
      <li><strong>Active content:</strong> {{ stats.active_content|filesize }}</li>
    </ul>
  </div>
  
  <hr/>
  <footer>
    <p class="unimportant" style="margin-top:20px;text-align:center;">Powered by Tinyboard {{ config.version }}
    <br>Tinyboard Copyright &copy; 2010-2019 Tinyboard Development Group    
  </footer>
</body>
</html>
{% endfilter %}
