{% apply spaceless %}
<!doctype html>
<html lang="{{ config.locale }}">
<head>
	<meta charset="utf-8">
	{% include "header.html" with {"nojavascript": true} %}
	<style>
		fieldset{margin:10px 0}
		legend{width:100%;margin-left:-15px;background:#DDD;border:1px solid #CCC;color:#36362E;font-weight:bold;padding:4px 15px 5px 5px;text-shadow:1px 1px 1px rgba(255, 255, 255, 0.7)}
		ul{margin:0;padding:0}
		li{list-style:none;padding:0 4px;margin: 0 4px}
		li a.system{font-weight:bold}
		#player{width:100%;height:100%}
	</style> 
	{% if settings.playlist %}
	{% verbatim %}
	<script>
		let tag = document.createElement('script');
		tag.src = 'https://www.youtube.com/iframe_api';
		
		let first = document.getElementsByTagName('script')[0];
		first.parentNode.insertBefore(tag, first);

		var player;

		/* Play a psuedo-random video depending on the day */
		function dailyRandom(s)
		{
			let n = new Date();
			if (!(s > 0))
				s = '' + n.getFullYear() + n.getDate() + n.getMonth();
			let x = Math.sin(s++) * 10000;
			return x - Math.floor(x);
		}

		function onYouTubeIframeAPIReady()
		{
			player = new YT.Player('player', {
				height: 480,
				width: 640,
				events: {
					onReady: onPlayerReady,
					onStateChange: (event) => {
						if (event.data === YT.PlayerState.ENDED) /* Ended */
							player.stopVideo();
					}
				},
				playerVars: {
					listType: 'playlist',
					list: '{% endverbatim %}{{ settings.playlist }}{% verbatim %}',
					autoplay: 0,
					rel: 0,
					controls: 0
				}
			});
		}

		function onPlayerReady(event)
		{
			let idx = Math.round(dailyRandom() * player.getPlaylist().length);

			setTimeout(() => {
				player.playVideoAt(idx);
			}, 500);
		}
	</script>
	{% endverbatim %}
	{% endif %}
	<title>{{ settings.title }}</title>
	<base target="main"/>
</head>
<body>
	<fieldset>
		<legend>{{ settings.title }}</legend>
		<ul>
			<li>
				<a class="system" href="{{ settings.file_index }}">Home</a>
			</li>
		</ul>
	</fieldset>
	
	{% for category, boards in categories %}
		<fieldset>
			<legend>
				{{ category }}
			</legend>
			{% for board in boards %}
				<li>
					<a href="{{ board.uri }}">{{ board.title|e }}</a>
				</li>
			{% endfor %}
		</fieldset>
	{% endfor %}
	
	{% for category, links in config.custom_categories %}
		<fieldset>
			<legend>
				{{ category }}
			</legend>
			{% for title, uri in links %}
				<li>
					<a href="{{ uri }}">{{ title }}</a>
				</li>
			{% endfor %}
		</fieldset>
	{% endfor %}

	{% if settings.playlist %}
		<div id="player"></div>
	{% endif %}
</body>
</html>
{% endapply %}
